
@{
    ViewBag.Title = "CesarDescifrado";
}

<h2>Cesar Descifrado</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br />
    Llave <input type="text" name="llave"><br>
    <br />
    <button type="submit">Subir</button>
</form>

@Html.ActionLink("Decifrar con ZigZag", "DecifrarZigZag")
<br />
@Html.ActionLink("Ir a Descargas", "Donwload")
<br />
@Html.ActionLink("Cifrado por césar", "Cesar")
<br />
@Html.ActionLink("Cifrar en ZigZag", "SubirArchivo")
<br />
@Html.ActionLink("Cifrado Espiral", "CifrarEspiral")