
@{
    ViewBag.Title = "CifrarEspirarl";
}

<h2>CifrarEspirarl</h2>



<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br />
    Cifrado (Horizontal (H), vertical (V) )<input type="text" name="llenado" />
    <br />
    m <input type="number" name="m"><br>
    <br />
    <button type="submit">Subir</button>
</form>


@Html.ActionLink(" Ir a Descargas", "Donwload")
<br />
@Html.ActionLink("Cifrado Zig Zag", "SubirArchivo")
<br />
@Html.ActionLink("Decifrar con ZigZag", "DecifrarZigZag")
<br />
@Html.ActionLink("Cifrado por césar", "Cesar")
<br />
@Html.ActionLink("Decifrar con Cesar", "CesarDescifrado")
