
@{
    ViewBag.Title = "error";
}

<h2>error</h2>

<h4>Es posible que su clave ingresada no sea posible de trabajar o el dato ingresado no sea el solicitado</h4>

@Html.ActionLink(" Ir a Descargas", "Donwload")
<br />
@Html.ActionLink("Cifrado Zig Zag", "SubirArchivo")
<br />
@Html.ActionLink("Decifrar con ZigZag", "DecifrarZigZag")
<br />
@Html.ActionLink("Cifrado por césar", "Cesar")
<br />
@Html.ActionLink("Decifrar con Cesar", "CesarDescifrado")
<br />
@Html.ActionLink("Cifrado Espiral", "CifrarEspiral")